{% extends 'base.html.twig' %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('luggage_index') }}">Retour à la liste</a>

    <div class="bg-light p-3">
        <h1>&#128540 Votre panier</h1>
        {% if items | length > 0 %}
            <table class="table text-center">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th class>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.luggage.name }}</td>
                        <td>{{ item.luggage.price }}</td>
                        <td class="row">
                            <a class="js-minusNbItem" href="{{ path('cart_delete', {'id' : item.luggage.id}) }}">
                                <i class="fas fa-minus-circle"></i>
                            </a>
                            <div class="js-nbItemsSelected align-text-center">
                                 {{ item.quantity }}
                            </div>
                            <a class="js-plusNbItem" href="{{ path('cart_add', {'id' : item.luggage.id}) }}">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </td>
                        <td class="js-totalPriceByItem"> {{ item.luggage.price * item.quantity }} </td>
                        <td>
                            <a href="{{ path('cart_remove', {id : item.luggage.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total :</td>
                    <td id="js-totalPriceItems">{{ total }}</td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <p>Le panier est vide</p>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/cart.js') }}"></script>
{% endblock %}
