{% extends 'base.html.twig' %}

{% block title %}Editer le bagage{% endblock %}

{% block body %}
    <div>
        <h1>Editer le bagage</h1>
        <button class="btn">{{ button_label|default('Save') }}</button>
        <a class="btn btn-primary" href="{{ path('luggage_index') }}">Retour à la liste</a>

        <form method="post" action="{{ path('luggage_delete', {'id': luggage.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ luggage.id) }}">
            <button class="btn btn-primary">Supprimer</button>
        </form>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
