{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}

    <div class ="d-flex justify-content-around">
        <h1>Baggage</h1>
        <form method="post" action="{{ path('luggage_delete', {'id': luggage.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ luggage.id) }}">
            <button class="btn btn-primary">Supprimer</button>
        </form>
        <a class="btn btn-primary" href="{{ path('luggage_edit', {'id': luggage.id, 'slug' : luggage.slug}) }}">Editer</a>
        <a href="{{ path('luggage_show_pdf', {'id': luggage.id, 'slug' : luggage.slug}) }}">
            <i class="fas fa-file-pdf"></i>
        </a>
        <a class="btn btn-primary" href="{{ path('luggage_index') }}">Retour à la liste</a>
    </div>
    <img class="card-img-top" width="50" height="60" src="https://www.lehavre.fr/sites/default/files/styles/miniature_landing/public/thumbnails/image/chat.jpg?itok=xDyhRAGl"/>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ luggage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ luggage.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ luggage.description }}</td>
            </tr>
            <tr>
                <th>Disponibilité</th>
                <td>{{ luggage.available ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ luggage.price }} €</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ luggage.height }} cm</td>
            </tr>
            <tr>
                <th>Longueur</th>
                <td>{{ luggage.length }} cm</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ luggage.width }} cm</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ luggage.weight }} cm</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
