{% extends 'base.html.twig' %}

{% block title %}Option index{% endblock %}

{% block body %}
    <div class="jumbotron d-flex justify-content-between">
        <h1>Gestion des options</h1>
        <a class="btn btn-primary btn-lg" role="button" href="{{ path('option_new') }}">Ajouter une option</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.name }}</td>
                <td>
                    <a href="{{ path('option_show', {'id': option.id}) }}">show</a>
                    <a href="{{ path('option_edit', {'id': option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
